.map_container {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    overflow: auto;
}

.page-frame {
    background: transparent;
}

section#main > div.container {
    background: transparent;
}

header {
    position: relative;
    z-index: 2;
}

#column2, #footer {
    position: relative;
    z-index: 1;
}

#column2, #footer * {
    background: white;
}

#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(229, 227, 223);
    overflow: hidden;
    -webkit-transform: translateZ(0px);
}