#floating_div {
    text-align: center;
    z-index: 100;
    position: relative;
    left: 30%;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.org_form {
    width:100%;
}

#orgs_scroll {
    height: 340px;
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0 !important;
}

.borderless {
    border-top: none !important;
}