<%= javascript_tag do %>
    LocalSupport.maps.data = <%= raw @organizations.to_json %>
<% end %>

<%= render partial: 'layouts/search_form' %>

<div id="orgs_scroll">
  <div ng-controller="OrganizationsCtrl">
    <table class="table">
      <tbody>
          <tr ng-repeat="organization in organizations">
            <td>
              {{organization.name}} <small>{{organization.description}}</small>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>



