
<div id="orgs_scroll">
  <div class="table table-bordered">
    <table>
      <div id="organizations">
        <% @organizations.each do |organization| %>
          <tr>
            <td>
              <u><%= link_to organization.name, organization %></u><br/>
              <%= smart_truncate(organization.description) %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <br/>
  <div style="width:50%;float:left">
    <%= link_to 'New Organization', new_organization_path %>
  </div>
<% end %>

<% content_for :map do %>
    <div class="map_container">
      <div id="map"></div>
    </div>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({
                    provider: {
                        zoom: 12,
                        center: new google.maps.LatLng(51.580697,-0.34212),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    internal: {id: 'map'}},
                function () {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                });
    </script>
<% end %>
