<div class="footer">
<div class="navbar navbar-fixed-bottom centered" style="width: 420px">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to 'Contributors', page_path('contributors') %></li>
      <li><%= link_to 'Contact', page_path('contact') %></li>
      <li><%= link_to 'Disclaimer', page_path('disclaimer') %></li>
      <li><%= link_to 'About Us', page_path('about') %></li>
    </ul>
  </div>
</div>
</div>