<% content_for :scripts do %>
    <%= javascript_include_tag 'google_maps' %>
<% end %>

<div class="row">
  <div class="map_container">
    <div id="map"></div>
  </div>

  <div id="column2" class="span6 pull-right">
    <%= yield %>
  </div>
</div>
<%= parent_layout 'application' %>
