<% content_for :scripts do %>
    <%= javascript_include_tag 'google_maps' %>
<% end %>

<div class="map_container">
  <div id="map"></div>
</div>
<div class="columns">
  <div id="column1" class="span6" style="z-index: -1;"></div>
  <div id="column2" class="span6 pull-right">
    <%= yield %>
  </div>
</div>
<%= parent_layout 'application' %>
